body {
  background-color: rgb(196, 213, 235);
}
h1 {
  color: rgb(0, 102, 153);
  text-align: center;
  font-size: 50px;
  font-family: arial black;
}
div.menu {
  overflow: hidden;
}
a.tab {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: arial black;
}
a.tab:hover {
  background-color: rgb(0, 102, 153);
  color: white;
}

div.content {
  width: 60%;
=======
<form action="/action_page.php">
Recipe Name:<br>
<input type="text" name="recipeName" value="">
<br>
Ingrediants:<br>
<input type="text" name="Ingrediants" value="">
<br>
<input type="text" name="Ingrediants" value="">
<br>
<input type="text" name="Ingrediants" value="">
<br>
<input type="text" name="Ingrediants" value="">
<br>
Instructions:<br>
<input type="text" name="Instructions" value="">
<br><br>
<input type="submit" value="Submit">
>>>>>>> 8c5e563b60609cb5134dcf129af283ee5653afc9

}

div.form {
  font-size: larger;
  font-family: arial black;
}
